# EDITOR
{{- if eq .chezmoi.os "linux" }}
export BAT_PAGER="less -RF"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
export BAT_PAGER="less -R"
{{- end }}
export PAGER='less'
export MANPAGER="most"

if (( $+commands[code] )) && 
{{- if eq .chezmoi.os "linux" }}
[[ ! -z $DISPLAY ]] && [[ ! -z $XAUTHORITY ]]
{{- end }}
then
    export EDITOR="code"
    export VISUAL="$HOME/.shell/code_wait.zsh"
else
    export EDITOR="$(which joe)"
    export VISUAL=${EDITOR}
fi

# Only in terminal emulator
{{- if eq .chezmoi.os "linux" }}
if [[ ! -z $DISPLAY ]] && [[ ! -z $XAUTHORITY ]]; then
    export TERM="screen-256color"
fi
{{- end }}

# Other env var
if (( $+commands[go] )); then
export GOPATH=$HOME/dev/go
export GOBIN=$GOPATH/bin
fi

{{- if eq .chezmoi.os "linux" }} 
if [ -x /usr/libexec/java_home ]; then
    export JAVA_HOME=$(/usr/libexec/java_home -v 11)
fi
{{- end }}

# PATH settings
typeset -gU path

path=(
    {{- if eq .chezmoi.os "darwin" }}
    {{- if eq .chezmoi.arch "arm64" }}
    /opt/homebrew/bin
    {{- else }}
    /usr/local/sbin
    {{- end }}
    {{- end }}
    
    $HOME/.local/bin
    $HOME/dev/bin
    $GOBIN
    $path
)


# LESS

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
{{- if eq .chezmoi.os "linux" }}
export LESS='-R -F -g -i -M -S -w -z-4'
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
export LESS='-R -g -i -S -w -z-4'
{{- end }}

# Bat related config
export BAT_THEME='OneHalfDark'
