# EDITOR
export BAT_PAGER="less -RF"
export PAGER='less'
export MANPAGER="most"

if (( $+commands[code] )) && 
{{- if eq .chezmoi.os "linux" }}
[[ ! -z $DISPLAY ]] && [[ ! -z $XAUTHORITY ]]
{{- end }}
then
    export EDITOR="$HOME/.shell/code.zsh"
    export VISUAL="$HOME/.shell/code_wait.zsh"
else
    export EDITOR="$(which joe)"
    export VISUAL=${EDITOR}
fi

# Other env var
if (( $+commands[go] )); then
export GOPATH=$HOME/dev/go
export GOBIN=$GOPATH/bin
fi
if [ -x /usr/libexec/java_home ]; then
    export JAVA_HOME=$(/usr/libexec/java_home -v 11)
fi

# PATH settings
typeset -gU path

path=(
    $HOME/.local/bin
    $HOME/dev/bin
    $GOBIN
    $path
)


# LESS

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
export LESS='-R -F -g -i -M -R -S -w -z-4'

# Bat related config
export BAT_THEME='OneHalfDark'