# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
#if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
#  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
#fi

# Load Zinit
if [[ ! -d ~/.zinit ]]; then
    mkdir -p ~/.zinit && \
        git clone --depth 1 \
        https://github.com/zdharma/zinit.git \
        ~/.zinit/bin
fi
source ~/.zinit/bin/zinit.zsh

# Setup Zinit Plugins
## p10k
zinit depth"1" light-mode for \
  @romkatv/powerlevel10k

zinit wait"0" silent depth"1" light-mode for \
{{- if eq .chezmoi.os "darwin" }}
    @PZTM::osx \
{{- end }}
{{- if eq .chezmoi.os "linux" }}
    @PZTM::command-not-found \
    @endaaman/lxd-completion-zsh \
{{- end }}
    @OMZP::git \
    @wfxr/forgit \
    @thetic/extract \
    @MichaelAquilina/zsh-you-should-use \
    @PZTM::gpg \
    @PZTM::gnu-utility \
    @PZTM::history \
    @PZTM::directory \
    @zsh-users/zsh-history-substring-search \
    atinit"zicompinit; zicdreplay" \
        @Aloxaf/fzf-tab \
    as"completion" \
        @https://github.com/docker/cli/blob/master/contrib/completion/zsh/_docker \
    atinit"zicompinit; zicdreplay" wait"0b" \
        @zdharma/fast-syntax-highlighting \
    blockf atpull'zinit creinstall -q .' \
        @zsh-users/zsh-completions

# Zsh autocomplete
## Fix ssh autocomplete
zstyle ':completion:*:ssh:argument-1:*' tag-order hosts
h=()
if [[ -r $HOME/.ssh/config ]]; then # 讀取 config 然後把 Host 弄出來
  h=($h ${${${(@M)${(f)"$(cat ~/.ssh/config)"}:#Host *}#Host }:#*[*?]*})
fi
if [[ $#h -gt 0 ]]; then
  zstyle ':completion:*:ssh:*' hosts $h
  zstyle ':completion:*:slogin:*' hosts $h
fi

## Cache zsh complete
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.zsh/cache

## The following lines were added by compinstall
zstyle ':completion:*' completer _expand _complete _ignored _approximate
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
zstyle ':completion:*' list-suffixeszstyle ':completion:*' expand prefix suffix
zstyle ':completion:*' menu select=2
zstyle ':completion:*' verbose true
zstyle ':completion:*:descriptions' format '[%d]'
zstyle ':completion:*:processes' command 'ps -au$USER'
zstyle ':completion:complete:*:options' sort false
zstyle ':completion:*:*:*:*:processes' command "ps -u $USER -o pid,user,comm,cmd -w -w"
zstyle ":completion:*:git-checkout:*" sort false
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}

zstyle :compinstall filename '/home/jw910731/.zshrc'
autoload -Uz compinit
compinit
## End of lines added by compinstall

# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt autocd beep nomatch
unsetopt extendedglob notify
bindkey -e
# End of lines configured by zsh-newuser-install

# Custom zsh config
setopt AUTO_PARAM_SLASH # (autocomplete) If completed parameter is a directory, add a trailing slash
unsetopt MENU_COMPLETE # Do not autoselect the first completion entry
unsetopt FLOW_CONTROL # Disable start/stop characters (^Z, ^C, etc) in shell editor

autoload -U select-word-style
select-word-style bash
## keybind
{{- if eq .chezmoi.os "darwin" }}
bindkey "^[^[[C" forward-word # meta + right arrow
bindkey "^[^[[D" backward-word # meta + left arrow
bindkey '^[^?' backward-kill-word # meta + delete
{{- end }}
{{- if eq .chezmoi.os "linux" }}
bindkey "^H" backward-kill-word # ctrl + backspace
bindkey "^[[3~" delete-char # delete 
bindkey "^[[1;5C" forward-word # ctrl + right arrow
bindkey "^[[1;5D" backward-word # ctrl + left arrow
{{- end }}


# Source general source files
source $HOME/.sh_env

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# iterm integration
{{- if eq .chezmoi.os "darwin" }}
test -e /Users/jw910731/.iterm2_shell_integration.zsh && source /Users/jw910731/.iterm2_shell_integration.zsh || true
{{- end }}