{{- if eq .chezmoi.os "darwin" }}
# Fig pre block. Keep at the top of this file.
[[ -f "$HOME/.fig/shell/zprofile.pre.zsh" ]] && builtin source "$HOME/.fig/shell/zprofile.pre.zsh"
{{- end }}

# PATH settings
typeset -gU path

path=(
    {{- if eq .chezmoi.os "darwin" }}
    {{- if eq .chezmoi.arch "arm64" }}
    /opt/homebrew/bin
    {{- else }}
    /usr/local/sbin
    {{- end }}
    $HOME/.fig/bin
    {{- end }}
    $HOME/.local/bin
    $HOME/dev/bin
    $GOBIN
    $path
)

if [ -d "$HOME/.composer/vendor/bin" ]; then
    path=(
        "$HOME/.composer/vendor/bin"
        $path
    )
fi

# EDITOR
{{- if eq .chezmoi.os "linux" }}
export BAT_PAGER="less -RF"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
export BAT_PAGER="less -R"
{{- end }}
export PAGER='less'
export MANPAGER="most"

if (( $+commands[code] )) \
{{- if eq .chezmoi.os "linux" }}
&& [[ ! -z $DISPLAY ]]
{{- end }}
then
    export EDITOR="code"
    export VISUAL="$HOME/.shell/code_wait.zsh"
else
    export EDITOR="$(which joe)"
    export VISUAL=${EDITOR}
fi

# Only in terminal emulator
{{- if eq .chezmoi.os "linux" }}
if [[ ! -z $DISPLAY ]]; then
    export TERM="screen-256color"
fi
{{- end }}

{{- if eq .chezmoi.os "linux" }} 
if [ -x /usr/libexec/java_home ]; then
    export JAVA_HOME=$(/usr/libexec/java_home -v 11)
fi
{{- end }}

# LESS

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
{{- if eq .chezmoi.os "linux" }}
export LESS='-R -F -g -i -M -S -w -z-4'
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
export LESS='-R -g -i -S -w -z-4'
{{- end }}

# Bat related config
export BAT_THEME='OneHalfDark'

{{- if eq .chezmoi.os "darwin" }}
{{- if eq .chezmoi.arch "arm64" }}
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
{{- end }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :

# Fig post block. Keep at the bottom of this file.
[[ -f "$HOME/.fig/shell/zprofile.post.zsh" ]] && builtin source "$HOME/.fig/shell/zprofile.post.zsh"
{{- end }}

{{- if eq .chezmoi.arch "arm64" }}
export PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
export PUPPETEER_EXECUTABLE_PATH=`which chromium`
{{- end }}

if [[ -d "$HOME/.nvm" ]]; then
    export NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
    [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
fi

{{- if eq .chezmoi.os "darwin" }}
# Fig post block. Keep at the bottom of this file.
[[ -f "$HOME/.fig/shell/zprofile.post.zsh" ]] && builtin source "$HOME/.fig/shell/zprofile.post.zsh"
{{- end }}
