#!/usr/bin/env zsh

# `.exports` is used to provide custom variables.
#
# This file is used as a part of `.sh_env`

# === General ===

{{- if eq .chezmoi.os "linux" }}
# Language
export LANG=en_US.UTF-8
export LANGUAGE=en_US
export LC_ALL="en_US.UTF-8"
{{- end }}

# Editor
if (( $+commands[code] )); then
    export EDITOR="$HOME/.shell/code_wait.zsh"
    export VISUAL="$HOME/.shell/code.zsh"
else
    export EDITOR="$(which joe)"
    export VISUAL=${EDITOR}
fi

